* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {

}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 90%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

header .headline {
	font-size: 32px;
}

.nav-list {
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
	margin: 0 auto;
}

.main {
	width: 1000px;
	height: 900px;
	margin: 0 auto;
}

.boxes1 {
	width: 800px
	margin: 0 auto;
	float: left;
}

.box1 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #e6ffe9;
	float: left;
}

.box2 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #cdffd3;
	float: left;
}

.box3 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #aeffbd;
	float: left;
}

.box4 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #93ffab;
	float: left;
}

.boxes2 {
	width: 800px
	margin: 0 auto;
}

.box5 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #f3ffd8;
	float: left;
}

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 50px 0;
	background-color: #848282;
}

.footer-text {
	color: #fff;
}







