* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {

}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 90%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

header .headline {
	font-size: 32px;
}

.nav-list {
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
	margin: 0 auto;
}

.main {
	width: 900px;
	height: 700px;
	margin: 0 auto;
	border-top: solid 50px #ffffff;
}

.boxes1 {
	width: 800px
	margin: 0 auto;
	float: left;
}

.box1 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #e6ffe9;
	float: left;
}

.box2 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #cdffd3;
	float: left;
}

.box3 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #aeffbd;
	float: left;
}

.box4 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #93ffab;
	float: left;
}

.boxes2 {
	width: 800px
	margin: 0 auto;
	clear: both;
}

.box5 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #f3ffd8;
	float: left;
}

.box6 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #edffbe;
	float: left;
}

.box7 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #e9ffa5;
	float: left;
}

.box8 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #e4ff8d;
	float: left;
}

.boxes3 {
	width: 800px
	margin: 0 auto;
	clear: both;
}

.box9 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #d9e5ff;
	float: left;
}

.box10 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #bad3ff;
	float: left;
}

.box11 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #a4c6ff;
	float: left;
}

.box12 {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #8eb8ff;
	float: left;
}

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 50px 0;
	background-color: #848282;
}

.footer-text {
	color: #fff;
}







