 /* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header, nav, h2, .main-visual, footer {
	font-family: ;
}

header {
	position: relative;
	height: 70px;
	background-color: #EC715F;
}

.logo {
	height: 70px;
	float: left;
}

.nav {
	float: right;
}

.nav-list {
	list-style: none;
	float: left;
	line-height: 70px;
	width: 120px;
	padding: 0 30px;
	font-size: 16px;
}

.nav-list a {
	color: #FAFAFA;
}

.mv {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.mv-content {
	text-align: center;
	padding-top: 200px;
}

.mv-title {
	font-size: 64px;
	color: #FAFAFA;
	margin-bottom: 10px;
}

.mv-text {
	font-size: 20px;
	color: #FAFAFA;
}

main {
	background-color: #ECEFF1;
}

.portfolio {
	margin: 0 auto;
	width: 920px;

}

.portfolio-title {
	font-size: 32px;
	color: #000000;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 8px;
}

.portfolio-title::after {
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}

.portfolio-text {
	font-size: 16px;
	text-align: center;
	padding: 30px 0;
}

.portfolio-img {
	width: 920px;
	padding-bottom: 90px;
	margin: 0 auto;
}

.portfolio-content {
	float: left;
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
	margin: 10px 10px 0 0;
}

.portfolio-content:nth-child(-n+3){
	margin-top: 0;
}

.portfolio-content:nth-child(3n){
	margin-right: 0;
}

.portfolio-content:nth-child(1) {
	background-image: url(img/sketch.jpg);
}

.portfolio-content:nth-child(2) {
	background-image: url(img/websuku.png);
}

.portfolio-content:nth-child(3) {
	background-image: url(img/write.jpg);
}

.portfolio-content:nth-child(4) {
	background-image: url(img/webcamp.png);
}

.portfolio-content:nth-child(5) {
	background-image: url(img/talk.jpg);
}

.portfolio-content:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

footer {
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 16px;
	font-color: #FAFAFA;
	background-color: #EC715F;
	line-height: 60px;
}

.footer-text {
	color: #fff;
}

@media screen and (max-width: 425px) {
	header {
		width: 100%;
	}
	.nav-list {
		width: 100%;
	}
	.nav-list-item {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.sosial {
		display: none;
	}
	.main-visual-content {
		width: 100%;
	}
	main {
		width: 100%;
	}
	.blog {
		width: 100%;
		margin: 0;
	}
	.blog-box {
		padding-left: 2%;
		padding-right: 2%;
	}
	.blog-image {
		width: 49%;
	}
	.blog-text {
		width: 49%;
		padding-top: 5px;
	}
	.sidebar {
		width: 100%;
	}
	.instagram-box {
		width: 48%;
		padding-top: 48%;
	}
	.instagram-box:nth-child(odd) {
		margin-right: 4%;
	}
	.pagination {
		margin-bottom: 50px;
	}
}































